<div class="flex flex-row flex-auto w-full">
  <div class="flex flex-wrap w-1/2 max-w-screen-xl mx-auto p-6 md:p-8">

    <!-- Title and action buttons -->
    <div class="flex items-center justify-between w-full">
      <div>
        <div class="text-3xl font-semibold tracking-tight leading-8">Contact</div>
        <div class="font-medium tracking-tight text-secondary">Send me and email and I will get back to you as soon as possible.</div>
      </div>
    </div>

    <div class="flex w-full">
      <!-- Alert -->
      <fuse-alert
        *ngIf="showAlert"
        [appearance]="'outline'"
        [showIcon]="true"
        [type]="alert.type"
        [@shake]="alert.type === 'error'">
        {{alert.message}}
      </fuse-alert>

      <!-- Contact form -->
      <form
        class="mt-4 w-full"
        [formGroup]="contactForm"
        #contactNgForm="ngForm">

        <!-- Email field -->
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input
            matInput
            [formControlName]="'email'">
          <mat-error *ngIf="contactForm.get('email').hasError('required')">
            Email address is required
          </mat-error>
          <mat-error *ngIf="contactForm.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <!-- Name field -->
        <mat-form-field class="w-full">
          <mat-label>Name</mat-label>
          <input
            matInput
            [formControlName]="'name'">
          <mat-error *ngIf="contactForm.get('name').hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>

        <!-- Subject field -->
        <mat-form-field class="w-full">
          <mat-label>Subject</mat-label>
          <input
            matInput
            [formControlName]="'subject'">
          <mat-error *ngIf="contactForm.get('subject').hasError('required')">
            Subject is required
          </mat-error>
        </mat-form-field>

        <!-- Message field -->
        <mat-form-field class="w-full">
          <mat-label>Message</mat-label>
          <textarea
            matInput
            class="resize-none"
            rows="14"
            [formControlName]="'message'">
          </textarea>
          <mat-error *ngIf="contactForm.get('message').hasError('required')">
            Message is required
          </mat-error>
        </mat-form-field>

        <!-- Send button -->
        <button
          class="fuse-mat-button-large w-full mt-1 rounded-md"
          mat-flat-button
          [color]="'primary'"
          [disabled]="contactForm.disabled"
          (click)="contactSend()">
          <span *ngIf="!contactForm.disabled">
            Send
          </span>
          <mat-progress-spinner
            *ngIf="contactForm.disabled"
            [diameter]="24"
            [mode]="'indeterminate'">
          </mat-progress-spinner>
        </button>

      </form>
    </div>
  </div>
</div>
