<div class="flex flex-col flex-auto w-full">
  <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
    <div class="flex items-center justify-around w-full">

      <!-- Title and action buttons -->
      <div class="flex items-center justify-between w-full">
        <div>
          <div class="text-3xl font-semibold tracking-tight leading-8">
            Experience
              <div class="w-full bg-primary-500 h-1 rounded-md"></div>
          </div>
          <div class="font-medium tracking-tight text-secondary"></div>
        </div>
      </div>


      <div class="flex items-center justify-between w-full">
        <div>
          <div class="text-3xl font-semibold tracking-tight leading-8">
            Skills
            <div class="w-full bg-primary-500 h-1 rounded-md"></div>
          </div>
          <div class="font-medium tracking-tight text-secondary"></div>
        </div>
      </div>

    </div>
  </div>
</div>
